header,body,footer {
	font-family: 'raleway', sans-serif;
	text-decoration: none;
}

header {
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	padding-top: 20px;	
}

a { 
	text-decoration: none;
	color: black;
}
a:hover {
	color: #0065FC;
}
nav a:hover{color: #0065FC;
}

nav {
	display: flex;
	margin-right: 30px;
}

.nav_items {
	margin-right: 50px;
    height:50px;	
}
.nav_items:hover {
    color:#0065FC;
	padding-top: 20px;
	border-top: 3px solid #0065FC;
	padding-top: 20px;	
}

h1 {
	font-size: 20px;
	font-weight: bold;
	color: black ;
}

#recherches {
	display: flex;
	justify-content: space-between;
	width: 20%;
	font-weight: bold;
	
}
.iconmap {
	border: 1px #f2f2f2 solid;
	background-color: #f2f2f2;
	border-radius: 10px 0px 0px 10px;
	width: 5%; 
	padding: 10px;
}
.search input { 
	border: none;
	font-weight: bolder;
	padding: 10px;}

input:focus{
		background-color:rgb(255, 255, 0);
}
.Rechercher {
	justify-content: center;
	color:white;
	border-radius: 0px 10px 10px 0px;
	background-color: #0065FC;
	width: 30%;
	padding: 10px;
	cursor: pointer;
	
}
#filtres { 
	display:flex;
	justify-content: space-between;
	align-items: center;
	width: 60%;
	font-weight: bold;
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 15px;
}
.Filtres_title {
	border: none;
	padding: 15px;

}
.button { 
	display: flex;
	align-items:center;
	border: 1px grey solid;
	border-radius: 30px;
	border-left: none;
	padding-right: 10px;
}

.Economique { 
	border-radius: 50% 50%;
	padding: 15px;
	background-color: #DEEBFF;
	color: #0065FC;
	margin-right: 15px;	
}

.Familial { 
	border-radius: 50% 50%;
	padding: 15px 19px 15px 19px;
	background-color: #DEEBFF;
	color: #0065FC;
	margin-right: 20px;
}

.Romantique{
	border-radius: 50% 50%; 
	padding: 15px 16px 15px 16px;
	background-color: #DEEBFF;
	color: #0065FC;
	margin-right: 15px;
}

.Animaux {
	border-radius: 50% 50%;
	padding: 15px;
	background-color: #DEEBFF;
	color: #0065FC;
	margin-right: 10px;
}

.logements { 
	display: flex;
	justify-items: flex-start;
	align-items: baseline;
}

.info {
	color:#0065FC;
	font-size: small;
	border: 1px solid grey;
	border-radius: 50% 50%;
	padding: 5px 10px 5px 10px ;
	margin-right: 20px;
	margin-left:15px}

main { 
	display: flex;
	justify-content: space-around;	
}

section.HBGTS {
	display: grid;
	width: 65%;
    height: 620px;
    background-color:#f2f2f2;
    border-radius: 20px;	
}

.Hébergements {
	display: grid;
	gap: 40px;
	grid-template-columns: 200px 200px 200px;
	grid-template-rows: 200px 200px;
	width: 100%;
	justify-content: space-around;
	justify-items: center;
	align-items: center;	
}

.Hébergements figure{
	display: grid;
	border: 3px solid white;
	border-radius:15px;
	background-color: white;
	justify-content: center;
	width: 225px;
	height:210px;
	box-shadow: 1px 6px 5px rgb(173, 171, 171);
}

img.a {
	justify-items: center;
	width: 223px;
	height: 110px;
	border-radius: 10px 10px 0px 0px;
	border-bottom: 20px;
	object-fit: cover;
}

h3 {
	font-size:medium;
	font-weight:bold;
	flex-direction: row;
	margin-left: 4px;
}

.star {
	 color: #0065FC;
	font-size:x-small;
}
.grey_star {
	color: rgb(216, 206, 206);
}
.afficher {
	display: inline;
	justify-self: flex-start;
	font-weight: bold;
	margin-top: 10px;
}

aside { 
	display: flex;
	background-color: #f2f2f2;
	border-radius: 10px;
	width:27%;
	height: 620px;
	justify-content: space-between;		
}
.les_plus_populaires {
	display: flex;
	flex-direction: column;
	align-content: space-between;
	
}

aside figure {
	display: flex;
	position: absolute;
	caption-side: left;
	border: 2px solid white;
	border-radius: 10px;
	background-color: white;
	width: 320px;
	height: 110px;
	box-shadow: 1px 6px 5px rgb(173, 171, 171);
	
}

.arrow {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.b {
	display:flex;
	width: 320px;
	height: 110px;
	border-radius: 10px;
	justify-content: space-between;
}

img.b {
	width: 110px;
	height: 110px;
	border-radius: 10px 0px 0px 10px;
	object-fit: cover;
}

.pop { 
	display: flex;
	flex-direction: column;
	width: 150px ;
	height: 100px;
	line-height: 12px;
	margin-left: 10px;
}

.Activités {
	display: grid;	
	grid-template-columns: 360px 360px 360px 360px;
	grid-template-rows: 205px 205px;
	row-gap: 45px;
	height: 410px;
	justify-content: space-evenly;	
}

.Activités figure {
	border: none;
	border-radius: 15px;
	width: 340px;
	box-shadow: 1px 6px 5px rgb(173, 171, 171);
}

.Pics_L {
	width: 340px;
	height: 410px;
	border-radius: 15px 15px 0px 0px;
	object-fit: cover;	
}

.Pic_M {
    width: 340px;
	height: 180px;
	border-radius: 15px 15px 0px 0px;
	object-fit: cover;
}
.Pics_S {
	width: 340px;
	height: 170px;
	border-radius: 15px 15px 0px 0px;
	object-fit: cover;
}
.Pic_XS {
	width: 340px;
	height: 130px;
	border-radius: 15px 15px 0px 0px;
	object-fit: cover;
}
.item_1 { 
	display: grid;
	grid-column: 1/2;
	grid-row: 1/3;
}
.item_2 {
	display: grid;
	grid-column: 2/3;
	grid-row: 1 /2;
}
.item_3 {
	display: grid;
	grid-column: 2/3;
	grid-row-end: 2/3;
}

.item_4 {
	display: grid;
	grid-column: 3/4;
	grid-row: 1/3;
}

.item_5 {
	display: grid;
	grid-column: 4/5;
	grid-row: 1/2;
}

.item_6 {
	display: grid;
	grid-column: 4/5;
	grid-row: 2/3;

}
figcaption {
	margin-left: 10px;
}

footer	
	{display: flex;
	margin-top: 90px;
	justify-content: space-between;
	background-color: #F2F2F2;
}

footer ul{
	display:flex;
	flex-direction: column;
	text-align: start;
	justify-items: left;
	list-style-type: none;
	line-height: 2;
	width: 75%;
	}