header,body,footer {
	font-family: 'raleway', sans-serif;
	text-decoration: none;
}

header {
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	padding-top: 20px;
	margin-left: 20px;	
}
header a {
	color: #0065FC;
}
.H1 {
	margin-left: 23px;
	margin-bottom: 30px;
}
a { 
	text-decoration: none;
	color: black;
}
a:hover {
	color: green;
}

nav {
	display: flex;
	margin-right: 30px;
}

.nav_items {
	margin-right: 50px;
    height:50px;	
}
.nav_items:hover {
    color:#0065FC;
	padding-top: 20px;
	border-top: 3px solid #0065FC;
	padding-top: 20px;	
}

h1 {
	font-size: 22px;
	font-weight: bold;
	color: black ;
	margin-left: 20px;
}

#recherches {
	display: flex;
	justify-content: space-between;
	width: 20%;
	font-weight: bold;
	margin-left: 10px;
}
.iconmap {
	border: 1px #f2f2f2 solid;
	background-color: #f2f2f2;
	border-radius: 10px 0px 0px 10px;
	width: 5%; 
	padding: 10px;
	margin-left: 12px;
}
.search input { 
	border: none;
	font-weight: bolder;
	padding: 10px;
	width: 150px;
}

input:focus{
		background-color:rgb(255, 255, 0);
		
}
.Rechercher {
	justify-content: center;
	color:white;
	border-radius: 0px 10px 10px 0px;
	background-color: #0065FC;
	width: 30%;
	padding: 10px;
	cursor: pointer;
	margin-left: 15px;

}
h2 {
	font-size: 21px;
}
section#filtres { 
	display: flex;
	align-items: baseline;
	justify-content: space-around;
	width:60%;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 0px 0px 0px 0px;
}
.Filtres {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.button { 
	display: flex;
	align-items:center;
	border: 1px grey solid;
	border-radius: 30px;
	border-left: none;
	padding-right: 5px;
	margin-left: 35px;
	padding: none;
}

.Economique {
	border-radius: 50% 50%;
	padding: 15px;
	background-color: #DEEBFF;
	color: #0065FC;
	margin-right: 5px;	
}

.Familial { 
	border-radius: 50% 50%;
	padding: 15px 19px 15px 19px;
	background-color: #DEEBFF;
	color: #0065FC;
	margin-right: 5px;
}

.Romantique{
	border-radius: 50% 50%; 
	padding: 15px 16px 15px 16px;
	background-color: #DEEBFF;
	color: #0065FC;
	margin-right: 5px;
}

.Animaux {
	border-radius: 50% 50%;
	padding: 15px;
	background-color: #DEEBFF;
	color: #0065FC;
	margin-right: 5px;
}

.logements { 
	display: flex;
	justify-items: flex-start;
	align-items: baseline;
}

.info {
	color:#0065FC;
	font-size: small;
	border: 1px solid grey;
	border-radius: 50% 50%;
	padding: 5px 10px 5px 10px ;
	margin-right: 20px;
	margin-left:30px;
	margin-bottom:30px;
}
main { 
	display: flex;
	justify-content: space-around;	
}

section.HBGTS {
	display: flex;
	position: relative;
	width: 65%;
    height: 620px;
    background-color:#f2f2f2;
    border-radius: 20px;
}

.HBGTS h2 {
	margin-left: 75px;
}

.Hébergements {
	display: grid;
	gap: 70px;
	grid-template-columns: 230px 230px 230px;
	grid-template-rows: 200px 200px;
	position: absolute;
	margin-right: 20px;
	margin-left: 40px;
	margin-top: 45px;		
}

.Hébergements figure{
	display: grid;
	border: 3px solid white;
	border-radius:15px;
	background-color: white;
	width: 225px;
	height:210px;
	box-shadow: 1px 6px 5px rgb(173, 171, 171);
}

figcaption {
	justify-content: left;
	margin-left: 10px;
}
img.a {
	justify-items: center;
	width: 223px;
	height: 110px;
	border-radius: 10px 10px 0px 0px;
	border-bottom: 20px;
	object-fit: cover;
}
p { 
	margin-left: 0px;
}
h3 {
	font-size:medium;
	font-weight:bold;
	flex-direction: row;
}

.star {
	 color: #0065FC;
	font-size:x-small;
}
.grey_star {
	color: rgb(216, 206, 206);
}
.afficher {
	display: inline;
	justify-self: flex-start;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 40px;
}

aside { 
	display: flex;
	background-color: #f2f2f2;
	border-radius: 10px;
	width: 27%;
	height: 620px;
	justify-content: space-between;		
}
.les_plus_populaires {
	display: flex;
	flex-direction: column;
	align-content: space-between;
	
}

aside figure {
	display: flex;
	position: absolute;
	caption-side: left;
	border: 2px solid white;
	border-radius: 10px;
	background-color: white;
	width: 330px;
	height: 112px;
	box-shadow: 1px 6px 5px rgb(173, 171, 171);
}
aside.figcaption {
	justify-content: left;
}

.arrow {
	display: flex;
	align-items: baseline;
	margin-left: 45px;
	justify-content:space-between;
	width: 100%;	
}

.b {
	display:flex;
	width: 330px;
	height: 112px;
	border-radius: 10px;
	justify-content: space-between;
	margin-bottom: 70px;
}

img.b {
	width: 112px;
	height: 112px;
	border-radius: 10px 0px 0px 10px;
	object-fit: cover;
}

section.Activités{
	display: grid;
	margin-bottom: 30px;
}
.Activités h2 {
	display: flex;
	margin-left: 30px;
	margin-top: 50px;
}
.Acts {
	display:grid;
	justify-content: space-around;
	justify-items: center;
	grid-template-columns: 340px 340px 340px 340px;
	grid-template-rows: 180px 180px;
	row-gap: 50px;
	height: 390px;
}
.Activités {
	display: flex;		
}

.Activités figure {
	border: none;
	border-radius: 15px;
	width: 330px;
	box-shadow: 1px 6px 5px rgb(173, 171, 171);
}

.Pics_L {
	width: 330px;
	height: 390px;
	border-radius: 15px 15px 0px 0px;
	object-fit: cover;	
}

.Pic_M {
    width: 330px;
	height: 170px;
	border-radius: 15px 15px 0px 0px;
	object-fit: cover;
}
.Pics_S {
	width: 330px;
	height: 160px;
	border-radius: 15px 15px 0px 0px;
	object-fit: cover;
}
.Pic_XS {
	width: 330px;
	height: 120px;
	border-radius: 15px 15px 0px 0px;
	object-fit: cover;
}
.item_1 { 
	display: grid;
	grid-column: 1/2;
	grid-row: 1/3;
}
.item_2 {
	display: grid;
	grid-column: 2/3;
	grid-row: 1 /2;
}
.item_3 {
	display: grid;
	grid-column: 2/3;
	grid-row-end: 2/3;
	margin-top: 40px;
}

.item_4 {
	display: grid;
	grid-column: 3/4;
	grid-row: 1/3;
}

.item_5 {
	display: grid;
	grid-column: 4/5;
	grid-row: 1/2;
}

.item_6 {
	display: grid;
	grid-column: 4/5;
	grid-row: 2/3;

}

footer	
	{display: flex;
	margin-top: 90px;
	justify-content: space-between;
	background-color: #F2F2F2;
}

footer ul{
	display:flex;
	flex-direction: column;
	text-align: start;
	justify-items: left;
	list-style-type: none;
	line-height: 2;
	width: 75%;
	}

@media screen and (max-width:964px) { 
		.header {
			display: flex;
		
		}
	
		nav {
			display:flex;
			flex-direction: column-reverse;
			width: 100%;
			position: relative;
		
		}
		.nav_items {
			display: flex;
			width: 50%;
		}
		.nav_items:last-child {
			display: flex;
			position:absolute;
			right:0px;
			top: 0px;
		}
		.nav_items:hover {
			border-top: none;
		}
		h1 {
			font-size: 17px;
		}
		section#recherches {
			display: flex;
			flex-direction: row;
			font-weight: lighter;
			width: 95%;
		}
		.search input {
			width: 70px;
			text-align: center;
			font-size: 12px;
		}
		.search{
			width: 60px;
		}
		.rechercher {
			width:50px;
		}


		section#filtres {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
		}
		.Filtres {
			display: flex;
			flex-wrap: wrap;
		}
		.button {
			margin-bottom: 10px;
			width: 45%;
		}
		
		.Familial{
			display: flex;
		}
		.body {
			display:flex;	
			}
		.main {
			display: flex;
		}
		aside {
			display:flex;
			text-align: center;
			
		}
		aside .les_plus_populaires{
			display: flex;
			flex-direction: column;
		}

		.HBGTS {
			display: flex;
		}
		.Hebergements figure{
			display: flex;
			width:100%;
		}	 
	}
	