header,body,footer {
	font-family: 'raleway', sans-serif;
	text-decoration: none;
}

header {
	display: flex;
	font-weight: bold;
	padding-top: 20px;
	margin-left: 20px;	
}

.H1 {
	margin-left: 23px;
	margin-bottom: 30px;
}
a { 
	text-decoration: none;
	color: inherit;
}
a:hover {
	color: blue;
}

nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	margin-right: 30px;
}

#logo {
	margin-right: auto;
}

nav a:hover {
	border-top:3px solid #0065FC;
	padding-top: 20px;
	opacity: 1;
}
nav a {
	padding:2rem;
	opacity: 0.9;
}
.sub_nav {
	margin-right: 30px;
	margin-left: 50px;	
}
.sub_nav :first-child{
	color: #0065FC;
}

.sinscrire {
	font-weight: bolder;
	color: #0065FC;
	padding-top: 0px;
}
h1 {
	font-size: 22px;
	font-weight: bold;
	color: black ;
	margin-left: 20px;
}

#recherches {
	display: flex;
	justify-content: space-between;
	width: 20%;
	font-weight: bold;
	margin-left: 10px;
}
.iconmap {
	border: 1px #f2f2f2 solid;
	background-color: #f2f2f2;
	border-radius: 10px 0px 0px 10px;
	width: 5%; 
	padding: 10px;
	margin-left: 12px;
}
.search input { 
	border: none;
	font-weight: bolder;
	padding: 10px;
	width: 150px;
}

input:focus{
		background-color:rgb(255, 255, 0);
		
}
.Rechercher {
	justify-content: center;
	color:white;
	border-radius: 0px 10px 10px 0px;
	background-color: #0065FC;
	width: 30%;
	padding: 10px;
	cursor: pointer;
	opacity: 0.9;
	margin-left: 15px;
}
.Rechercher:hover {
	opacity: 1;
}
h2 {
	font-size: 21px;
}
#filtres { 
	display: flex;
	align-items: baseline;
	width:70%;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 30px;
}
#filtres h2 {
	margin-left: 24px;
}
.filtresContainer {
	display: flex;
	flex-direction: row;
}

.button { 
	display: flex;
	align-items:center;
	border: 1px grey solid;
	border-radius: 30px;
	border-left: none;
	padding-right: 5px;
	margin-left: 35px;
}
.button:hover {
	background-color: #DEEBFF;
}
.filtresContainer i{
	border-radius: 50% 50%;
	padding: 20px;
	background-color: #DEEBFF;
	color: #0065FC;
	margin-right: 5px;	
}

.logements { 
	display: flex;
	justify-items: flex-start;
	align-items: baseline;
}

.info {
	color:#0065FC;
	font-size: small;
	border: 1px solid grey;
	border-radius: 50% 50%;
	padding: 5px 10px 5px 10px ;
	margin-right: 20px;
	margin-left:30px;
	margin-bottom:30px;
}
main { 
	display: flex;
	justify-content: space-around;	
}

.HBGTS {
	display: flex;
	flex-direction: column;
	width: 65%;
    height: 650px;
    background-color:#f2f2f2;
    border-radius: 20px; 
	justify-content: center;
}
.HBGTS h2 {
	margin-left: 70px;
	margin-top: 35px;
}
.Hébergements {
	display: grid;
	width: 100%;
	gap: 75px;
	grid-template-columns: 230px 230px 230px;
	grid-template-rows: 200px 200px;
	padding-left: 30px;
}
	
.Hébergements figure{
	display: grid;
	border: 3px solid white;
	border-radius:15px;
	background-color: white;
	width: 230px;
	height:210px;
	box-shadow: 1px 6px 5px rgb(173, 171, 171);
}

figcaption {
	justify-content: left;
	margin-left: 10px;
}
img.a {
	justify-items: center;
	width: 229px;
	height: 110px;
	border-radius: 10px 10px 0px 0px;
	border-bottom: 20px;
	object-fit: cover;
}
p { 
	margin-left: 0px;
}
h3 {
	font-size:medium;
	font-weight:bold;
	flex-direction: row;
}

.star {
	 color: #0065FC;
	font-size:x-small;
}
.grey_star {
	color: rgb(216, 206, 206);
}
.afficher {
	display: inline;
	justify-self: flex-start;
	font-weight: bold;
	margin-left: 40px;
}

aside { 
	display: flex;
	background-color: #f2f2f2;
	border-radius: 10px;
	width: 27%;
	height: 650px;
	justify-content: space-between;		
}
.les_plus_populaires {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: space-between;
	width: 100%;
}

aside figure {
	display: flex;
	position: absolute;
	border: 2px solid white;
	border-radius: 10px;
	background-color: white;
	width: 330px;
	height: 112px;
	box-shadow: 1px 6px 5px rgb(173, 171, 171);
}
aside.figcaption {
	justify-content: left;
}

.arrow {
	display: flex;
	align-items: baseline;
	justify-content:space-around;
	margin-bottom: 20px;	
}

.arrow h2{
	margin-right: 30px;
}

.b {
	display:flex;
	width: 330px;
	height: 112px;
	border-radius: 0px;
	justify-content: space-between;
	margin-bottom: 70px;
}

img.b {
	width: 112px;
	height: 112px;
	border-radius: 10px 0px 0px 10px;
	object-fit: cover;
}

#Activités{
	display: grid;
	margin-bottom: 30px;
}
#Activités h2 {
	display: flex;
	margin-left: 30px;
	margin-top: 50px;
}
.Acts {
	display:grid;
	justify-content: space-around;
	justify-items: center;
	grid-template-columns: 340px 340px 340px 340px;
	grid-template-rows: 180px 180px;
	row-gap: 50px;
	height: 390px;
}
.Activités {
	display: flex;		
}

#Activités figure {
	border: none;
	border-radius: 15px;
	width: 330px;
	box-shadow: 2px 6px 5px rgb(173, 171, 171);
}

.Pics_L {
	width: 330px;
	height: 390px;
	border-radius: 15px 15px 0px 0px;
	object-fit: cover;	
}

.Pic_M {
    width: 330px;
	height: 170px;
	border-radius: 15px 15px 0px 0px;
	object-fit: cover;
}
.Pics_S {
	width: 330px;
	height: 160px;
	border-radius: 15px 15px 0px 0px;
	object-fit: cover;
}
.Pic_XS {
	width: 330px;
	height: 120px;
	border-radius: 15px 15px 0px 0px;
	object-fit: cover;
}
.item_1 { 
	display: grid;
	grid-column: 1/2;
	grid-row: 1/3;
}
.item_2 {
	display: grid;
	grid-column: 2/3;
	grid-row: 1 /2;
}
.item_3 {
	display: grid;
	grid-column: 2/3;
	grid-row-end: 2/3;
	margin-top: 40px;
}

.item_4 {
	display: grid;
	grid-column: 3/4;
	grid-row: 1/3;
}

.item_5 {
	display: grid;
	grid-column: 4/5;
	grid-row: 1/2;
}

.item_6 {
	display: grid;
	grid-column: 4/5;
	grid-row: 2/3;

}

footer	{
	display: flex;
	margin-top: 90px;
	justify-content: space-between;
	background-color: #f2f2f2;
}

footer ul {
	display:flex;
	flex-direction: column;
	text-align: start;
	list-style-type: none;
	line-height: 2;
	width: 75%;
	}



@media screen and (max-width:575.98px) { 

nav {
	display:flex;
	align-items: baseline;	
	flex-wrap: wrap;
	width: 100%;
	align-items: center;	
	}
#logo {
	margin-left: 0px;
	padding-left: 0px;
}
.sub_nav {
	display: flex;

	width:100%;
	margin-left: 0px;
	margin-right: 0px;
	padding: 5px;
	}
.sub_nav :first-child{
	padding-left: 10px;
	margin-left: 0px;
}
.sub_nav :last-child{
	padding-left: 110px;
}
.sub_nav a{
	border-bottom: 3px solid #f2f2f2;
	}
.sub_nav :hover {
	border-top: transparent;
	border-bottom: 3px solid #0065FC;
	}
.sinscrire {
	display: flex;
	position:absolute;
	top: 0px;
	padding-top:9px;
	}
.sinscrire :first-child{
	padding-right: 13px;
}
.sinscrire :hover {
	border-top: transparent;
	}
h1 {
	margin-left: 10px;
}
.H1 {
	margin-left:12px;
}
#recherches { 
	display:flex;
	flex-direction: row;
	font-weight: lighter;
	margin-left: 0px;
	width: 95%;
	}
.search input {
	width: 100px;
	text-align: center;
	font-size: 13px;
	}
.search{
	width: 90px;
	}
.rechercher {
	display: none;
	width:50px;
	}
.iconmap {
	margin-left: 13px;
}
#filtres {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	}
.filtresContainer {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.filtresContainer i{
	margin: 0px;
	margin-right: 12px;
	padding: 17px;	
}
#filtres h2{
	margin-left: 12px;
	}
.button {
	justify-content: space-between;
	margin-left: 5px;
	margin-right: 1px;
	margin-bottom: 10px;
	border-left: transparent;
}
	
.info { 
	margin-left: 10px;
} 
main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 20px;
	}

aside {
	order:-1;
	border-radius: 15px;
	background-color:#f2f2f2;
	width:auto;
	height: auto;
	margin-bottom: 20px;
	justify-content: center;	
	}
.les_plus_populaires {
	justify-content: center;
	width: 100%;
}
.les_plus_populaires h2 {
	margin-left: 0px;
	justify-items: flex-start;
}
.arrow {
	margin-bottom:0px;
	margin-left:10px;
	margin-right: 20px;
	justify-content: space-between;
}
aside figure{
	width: 90%;
	height: 130px;
	font-size: 20px;
	justify-items: center;
	}
.b {
	justify-content: center;
	width: 99.5%;
	margin-bottom: 60px;
}
.b h3{
	margin-bottom: 30px;
	line-height: 1rem;
}
img.b {
	height: 128px;
	}
.HBGTS {
	display: flex;
	order: 0;
	background-color: white;
	flex-direction: column;
	width: auto;
	height: auto;
	justify-content: center;
	}
	
.HBGTS h2 {
	margin-left: 5px;
	}
.Hébergements {
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding-left: 0px;
	}

.Hébergements figure{
	width: 98%;
	height: 167px;
	margin-left:0px;
	margin-bottom: 5px;
	}
img.a {
	width: 100%;
	height: 100px;
	}
figcaption {
	height: 85px;
	font-size: smaller;
	}
h3 {
	font-size: small;
	font-weight: bolder;
	line-height: 0.01rem;
	}
.star {
	font-size:xx-small;
	}
.afficher {
	margin-top: 5px;
	margin-left: 5px;
	}
#Activités {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	}
#Activités h2{
	margin-top: 50px;
	margin-left: 5px;
	}
.Acts{
	display:flex; 
	flex-direction: column;
	height:auto;
	row-gap: 5px;
	}
#Activités figure{
	display: flex;
	flex-direction: column;	
	width: 99%;
	height: auto;
	margin-bottom: 0px;
	border-radius: 15px;
	box-shadow: 1px 6px 5px gray;
	margin-left: 5px;
	}
#Activités figcaption {
	height: initial;
	padding: 10px;
}
#Activités img {
	width: 100%;
	height:120px;
}

.item_3 {
	margin-top: 0px;
}

footer {
	display: flex;
	flex-direction: column;
	width: auto;
	margin-top: 30px;
	}
footer ul{
	display: flex;
	flex-direction: column;
	justify-items: start;
	margin-bottom: 5px;
	padding-left: 15px;	
	}
footer h3 {
	font-weight: bolder;
	font-size: 16px;
	}
}